name: 02 0 Workflow Event

on: push

jobs:
   echo:
     runs-on: ubuntu-latest
     steps:
       - name: show the trigger
         run: echo "I'hve benn triggered by a(n) ${{github.event_name}} event"
